*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
    height: 4vh;
}

.navbar > ul {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    list-style: none;
        font-weight: 900;
    font-size: 2vw;
     color: black !important;
}
.navbar > li {
    cursor: pointer;
}

.active-nav{
    color: red;
}