@import "tailwindcss";

.githubCard{
    display: flex;
    background-color: gray;
    color: white;
    width: 80vw;
    margin: auto;
}

.githubCard > img {
    width: 30%;
    border: 1px solid rgb(113, 106, 106);
    border-radius: 5px;
}